{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>

<p>
  Sit omnis maxime nam est obcaecati? Alias dolores repudiandae quidem animi voluptatem! Modi officia deleniti delectus recusandae explicabo deleniti Corporis numquam inventore eos eius enim Eius hic voluptatum blanditiis porro!
</p>
{{end}}
